.containerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px 40px;
}

.containerImg {
    position: relative;
    max-width: 50%;
    width: 250px;
    height: 40px;
    animation-name: animateImage;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-play-state: running;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes animateImage {
    0% {
        left: -250px;
    }
    100% {
        left: 0;
    }
}

@media (max-width: 768px) {
    .containerHeader {
        padding: 20px;
    }
}

@media (max-width: 390px) {
    .containerImg {
        height: 30px;
    }
}

