.main {
    background: url('../public/background.svg') 50%/cover no-repeat;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
}

@media (max-width: 768px) {
    .main {
        padding: 15px;
        background: url('../public/background1.svg') 0 0/100% auto no-repeat;
    }
}