@import "styles/adapriveFont";

.containerForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  padding: 10px 40px;
  gap: 20px;
  border-radius: 50px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  margin-top: 60px;
}

.containerLabelWithInput {
  width: 20%;
  overflow: hidden;
  border-right: 1px solid #D9D9D9;

  &:last-child {
    border-right: none;
  }
}

.label {
  color: #6B6B6B;
  font-family: Roboto;
  @include adaptive-font(14, 11);
  font-weight: 400;
}

.labelButton {
  display: none;
  color: #FFFFFF;
  margin: 5px;
}

@media (max-width: 768px) {
  .containerForm {
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    padding: 30px;
    gap: 5px;
    margin-top: 30px;
  }
  .containerLabelWithInput {
    width: 100%;
    border-right: none;
  }
  .containerInput {
    width: 100%;
    background: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .label {
    padding: 5px 20px;
    color: #1A1A1A;
  }
  .labelButton {
    display: inline-block;
  }
  .containerButton {
    width: 100%;
    padding: 10px 0;
  }
}
